main {
  width: 99%;
  height: 80vh;
  margin-left: 1%;
}

ellipse.focus {
  stroke: #eefff4;
  stroke-width: 3;
}

.mainContainer {
  float: left;
  width: 127vh;
  height: 85vh;
  border: 1px solid black;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
}

.players {
  height: 6%;
  width: 98%;
  border: 1px solid lightGray;
  font-size: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
  border-radius: 5%;
}

input {
  text-align: center;
}

.left {
  margin: 3% 0% 3% 2%;
}

.right {
  margin: 3% 2% 3% 0%;
}

.playerGroup {
  width: 20%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-align-content: stretch;
  align-content: stretch;
}

.board {
  width: 101%;
  height: 98%;
}

svg{
  width: 100%;
  height: 100%;
  margin-top: 1.5%;
}

.nav {
  height: 86vh;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: stretch;
  align-content: stretch;
}

.logs {
  float: right;
  width: 21vw;
  height: 70vh;
  border: 1px solid lightGray;
}

#logHeading{
  margin: 0px;
  padding: 2px;
  background-color: lightGray;
  font-family: "Open Sans",sans-serif;
  font-weight: 600;
  font-size: 140%;
}

.dice {
  width: 20vw;
  height: 20vh;
  border: 1px solid lightGray;
  margin: 2%;
  position: relative;
  overflow: hidden;
  padding: 10px;
}

#rollDice{
  margin-top: -10px;
  padding: 2px 5px;
  margin-left: -20px;
  width: 110%;
  text-align: center;
  background-color: lightGray;
  font-family: "Open Sans",sans-serif;
  font-weight: 600;
  font-size: 140%;
}

.diceHolder{
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin: 15% 0% 0% 45%;
}

img[alt="DICE FACES"] {
  width: 100%;
  margin-top: -250px;
}

.red {
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #C41A1A 100%);
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #C41A1A 100%);
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #C41A1A 100%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #FFFFFF), color-stop(100, #C41A1A));
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #C41A1A 100%);
  background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #C41A1A 100%);
}

.blue {
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #12B0FF 100%);
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #12B0FF 100%);
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #12B0FF 100%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #FFFFFF), color-stop(100, #12B0FF));
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #12B0FF 100%);
  background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #12B0FF 100%);
}

.green {
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #52AB03 100%);
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #52AB03 100%);
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #52AB03 100%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #FFFFFF), color-stop(100, #52AB03));
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #52AB03 100%);
  background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #52AB03 100%);
}

.yellow {
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #E0D207 100%);
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #E0D207 100%);
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #E0D207 100%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #FFFFFF), color-stop(100, #E0D207));
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #E0D207 100%);
  background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #E0D207 100%);
}
#userName{
  font-weight:600;
  font-family: 'Open Sans', sans-serif;
  font-size: 130%;
}
