.hidden {
  display: none;
}

main {
  margin:7% 24%;
  height: 60vh;
  border-radius: 40px;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: stretch;
  align-content: stretch;
  -webkit-box-shadow: 3px 3px 14px 5px #444444;
  -moz-box-shadow: 3px 3px 14px 5px #444444;
  box-shadow: 3px 3px 14px 5px #444444;
}

input[type="submit"] {
  margin: 2%;
  width: 35%;
  color: white;
  background-color: #605d5d;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 160%;
}

input[name="createFormOption"] {
  display: block;
}

.createForm {
  width: 100%;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: stretch;
  align-content: stretch;
}

span {
  width: 40%;
}

label {
  font-size: 30px;
}

input[type="text"] {
  width: 80%;
  height: 50px;
  margin: 10px;
  font-size: 140%;
  font-family: 'Open Sans', sans-serif;
  border: none;
  border-bottom: 2px solid #605d5d;
  background-color:#d6d6d600;
}
input[type="text"]:hover {
  border-bottom: 2px solid #605d5d;
}

.message{
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  color: red;
  text-transform: uppercase;
}

.playersCount {
  width: 32%;
  position: relative;
  font-size: 140%;
  margin-top: 17px;
  margin-bottom: 10px;
  color: black;
  font-family: 'Open Sans', sans-serif;  
  font-weight: 500;
  border-bottom: 2px solid #605d5d;  
}

select {
  margin-right: 19%;
  font-size: 25px;
  width: 15%;
  background-color: transparent;
}

option {
  background-color: transparent;
}