.hidden {
  display: none;
}

main {
  margin:7% 24%;
  height: 60vh;
  border-radius: 10px;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: stretch;
  align-content: stretch;
  -webkit-box-shadow: 5px 3px 14px 5px rgba(163,163,163,0.63);
  -moz-box-shadow: 5px 3px 14px 5px rgba(163,163,163,0.63);
  box-shadow: 5px 3px 14px 5px rgba(163,163,163,0.63);
}

input[type="submit"] {
  margin: 2%;
  width: 35%;
  background-color: lightGray;
  color: black;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 160%;
}

input[name="createFormOption"] {
  display: block;
}

.createForm {
  width: 100%;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: stretch;
  align-content: stretch;
}

span {
  width: 40%;
}

label {
  font-size: 30px;
}

input[type="text"] {
  width: 80%;
  height: 50px;
  margin: 10px;
  font-size: 140%;
  font-family: 'Open Sans', sans-serif;
  border: none;
  border-bottom: 2px solid lightGray;
}
input[type="text"]:hover {
  border-bottom: 2px solid #090a09;
}
.message{
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  text-transform: uppercase;
}
