header {
  border-bottom: 2px solid darkGray;
  margin-bottom: 1%;
}
.dice{
  margin-top: 1%;
}
h1 {
  margin: 0.5%;
  font-family: 'Roboto',sans-serif;
  font-weight:normal;
  font-size: 50px;
  text-transform: uppercase;
}

.inline{
  display: inline-block;
}

.exit{
  margin-top: 3%;
  margin-right: 1%;
  float: right;
}

main{
  margin: 2% 0% 0% 4%;
  text-align: center;
}

.hide{
  visibility: hidden;
}

.show{
  visibility: visible;
}
